<div class="content">
    <h1 class="heading p-3"><span>{{user.user_name}}</span></h1>
   {{#each ingredients as |ingredient|}}
   <div class="p-1">
   <h1 value='{{ingredient.ingredient_id}}'> {{ingredient.ingredient_name}}</h1>
   <p value='{{ingredient.ingredient_id}}'> {{ingredient.ingredient_description}}</p>
   </div>
   {{/each}}
      